@import './../../base';
.page-title {
	margin-top: 24%;
}
.pay-list {
	overflow: hidden;
	margin-top: 12px;
}
.payment {
	display: block;
	margin: 32px auto 0;
	text-align: center;
	height: 72px;
	width: 72px;
	line-height: 72px;
	outline: none;
}
.iconfont {
	font-size: 72px;
	&.icon-iconfontalipay {
		color: #13aeec;
	}
	&.icon-wechat {
		color: #00af41;
	}
}
.line {
	overflow: hidden;
}
.button-wrap {
	margin-top: 40px;
}
