@import './../../base';
.page-title {
	font-size: 24px;
	text-align: center;
	margin-top: 30%;
}
.quota-list {
	width: 318px;
	margin: 16px auto 0;
	list-style-type: none;
	overflow: hidden;
}
.quota-item {
	float: left;
	width: 94px;
	margin: 8px 5px;
	border-radius: 3px;
	color: @baseColor;
	text-align: center;
	border: 1px solid @baseColor;
	padding: 8px 0;
	&.major {
		color: #ff0000;
		border: 1px solid #ff0000;
		.price {
			color: #ff8686;
		}
	}
}
.quota {
	font-size: 16px;
}
.price {
	margin-top: 2px;
	font-size: 13px;
	color: #7fbfb9;
}
.pay-list {
	overflow: hidden;
}
.payment {
	display: block;
	margin: 20px auto 0;
	text-align: center;
	height: 72px;
	width: 72px;
	line-height: 72px;
}
.iconfont {
	font-size: 64px;
	&.little {
		font-size: 32px;
	}
	&.icon-iconfontalipay {
		color: @alipay;
	}
	&.icon-wechat {
		color: @wechat;
	}
}
.barcode {
	text-align: center;
}
.barcode-box {
	margin: 0 16px;
}
.code-image {
	display: block;
	width: 100%;
	&.offset {
		margin-top: 36px;
	}
}
.no-barcode {
	margin: 36px 20px 0;
	height: 420px;
	line-height: 420px;
	text-align: center;
	color: #989898;
	background-color: #ececec;
}
