@import './../../base';
.page-title {
	font-size: 24px;
	text-align: center;
	margin-top: 30%;
}
.quota-list {
	width: 320px;
	margin: 32px auto 0;
	list-style-type: none;
	overflow: hidden;
}
.quota-item {
	float: left;
	width: 70px;
	height: 48px;
	margin: 12px 5px;
	background-color: @baseColor;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 48px;
	box-shadow: 0px 0px 1px 0px #2e5371;
}
.pay-list {
	overflow: hidden;
}
.payment {
	display: block;
	margin: 20px auto 0;
	text-align: center;
	height: 72px;
	width: 72px;
	line-height: 72px;
}
.iconfont {
	font-size: 64px;
	&.little {
		font-size: 32px;
	}
	&.icon-iconfontalipay {
		color: #13aeec;
	}
	&.icon-wechat {
		color: #00af41;
	}
}
.barcode {
	text-align: center;
}
.barcode-box {
	margin: 0 16px;
	background-color: #ececec;
}
.code-image {
	display: block;
	width: 100%;
	&.offset {
		margin-top: 36px;
	}
}
.no-barcode {
	margin: 0 20px;
	height: 420px;
	line-height: 420px;
	text-align: center;
	color: #989898;
	background-color: #ececec;
}
